@import "../../app.scss";

.hero {
  // height: calc(100vh - 100px);
  height: calc(var(--vh) * 100);
  // height: 100%;
  // height: 100vh;
  // max-width: 1200px;
  // background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  // z-index: 10;
  // padding: 20;
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    padding: 1rem;
  }

  @include mobile {
    height: 100vh;
  }

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      // padding: 20px; /* Ensure padding for all viewports */
      // width: 100%;

      @include mobile {
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      @include tablet {
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
        @include mobile {
          font-size: 22px;
        }
      }

      h1 {
        font-size: 88px;
        width: 65%;

        @include mobile {
          font-size: 24px;
          width: 100%;
        }

        @include tablet {
          width: 100%;
          font-size: 30px;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          position: relative;
          z-index: 1;

          @include mobile {
            margin-bottom: 10px;
            padding: 10px;
          }
        }
      }

      img {
        width: 50px;
        object-fit: contain;
        position: relative;
        z-index: 1;
      }
    }
  }

  .imageContainer {
    height: 60%;
    position: absolute;
    top: 140px;
    right: 60px;

    @include mobile {
      // height: 30%;
      // width: 100%;
      // top: unset;
      // bottom: 0;
      // right: 0;
      height: 30%;
      width: 100%;
      top: unset;
      bottom: 0;
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include tablet {
      height: 60%;
    }

    img {
      // width: 100%;
      height: 100%;
      margin-top: 5rem;
      object-fit: contain;

      @include mobile {
        height: 70%;
      }
    }
  }

  .scrollButton {
    position: absolute;
    @include mobile {
    }
  }

  .slidingTextContainer {
    width: 100vw;
    position: absolute;
    font-size: 50vh;
    bottom: -50px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    max-width: none !important;

    @include mobile {
      display: none;
    }
  }
}
