@import "../../app.scss";

.experience {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;

  @include mobile {
    // flex-direction: column;
    padding: 10px;
    // height: max-content;
    // overflow-y: auto;
    scroll-snap-type: none !important;
  }
}

.experience .vertical-timeline-element {
  border: none !important;
  width: 150%;
  // margin-top: 40px;

  @include mobile {
    width: 100%;
  }
}

.vertical-timeline.vertical-timeline--two-columns:before {
  background: orange;
  content: "";
  position: absolute;
  top: 0;
  left: calc(80% - 55px) !important;
  width: 2px;
  height: 100%;
  z-index: 0;

  @include mobile {
    left: 5% !important;
  }
}

.experience .vertical-timeline {
  // margin-top: 40px;
  position: relative;
}

.experience .vertical-timeline-element-icon {
  border: none !important;
}

.textContainer {
  padding: 10px;

  h3 {
    font-size: 22px;
    color: orange;
    transition: color 0.3s ease;

    @include mobile {
      font-size: 14px;
    }
  }

  p {
    font-size: 18px;
    transition: color 0.3s ease;

    @include mobile {
      font-size: 14px;
      padding: 0;
    }
  }
}

img {
  width: 100%;
  height: 100%;
}

.desc {
  margin-top: 10px;
  font-size: 16px;
  padding-left: 4px;
  letter-spacing: 0.05em;
  transition: color 0.3s ease;

  @include mobile {
    font-size: 11px;
    padding: 0;
    display: none;
  }
}

.vertical-timeline-element-content.bounce-in:hover {
  color: black;
  background-color: lightgray !important;
  transition: background-color 0.3s ease, color 0.3s ease;

  @include mobile {
    height: max-content;
  }
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  color: #d3d3d3;
}

.vertical-timeline-element-content .vertical-timeline-element-date:hover {
  color: black;
}
